#footer {
    font-weight: $font-weight-bold;
    font-family: $font-secondary;
    #footerInfo {
        background-color:$footer-primary-back;
        width: 100%;
        padding:2%;
        #footerAlign {
            margin-left: 10%;
            margin-right: 10%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            #footerCat {
                grid-column: 1;
                width:auto;
                .menu-categorie2-container {
                    ul {
                        li {
                            display:block;
                            padding: 5%;
                            border-bottom:1px solid #636363;
                            a {
                                color: white;
                                font-size: 70%;
                            }
                        }
                    }
                }
            }
            #footerPop {
                grid-column: 2;
                width:auto;
                ul {
                    li {
                        padding:6%;
                        a {
                            color: white;
                            font-size: 70%;
                            text-align: left;
                        }
                    }
                }
            }
            #footerInst {
                grid-column: 3;
                width:auto;
                #listInst{
                    display:grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    padding-top:3%;
                    #inst1 {
                        grid-column:1 ;
                        grid-row:1;
                        padding:3%;
                        
                    }
                    #inst2 {
                        grid-column: 2;
                        grid-row:1;
                        padding:3%;
                    }
                    #inst3 {
                        grid-column: 3;
                        grid-row:1;
                        padding:3%;
                    }
                    #inst4 {
                        grid-column: 1;
                        grid-row:2;
                        padding:3%;
                    }
                    #inst5 {
                        grid-column: 2;
                        grid-row:2;
                        padding:3%;
                    }
                    #inst6 {
                        grid-column: 3;
                        grid-row:2;
                        padding:3%;
                    }
                    #inst7 {
                        grid-column: 1;
                        grid-row:3;
                        padding:3%;
                    }
                    #inst8 {
                        grid-column: 2;
                        grid-row:3;
                        padding:3%;
                    }
                    #inst9 {
                        grid-column: 3;
                        grid-row:3;
                        padding:3%;
                    }
                }
            }
        }
    }
    #footerEnd {
        background-color: $footer-secondary-back;
        #footerEndAlign {
            margin-right:10%;
            margin-left:10%;
            ul {
                text-align: right;
                padding:2%;
                margin-right:1%;
                li {
                    display:inline;
                }
            }
        }
    }
}
.footerTitle {
    margin-left: 8%;
    font-size: 70%;
}
img {
    max-width: 100%;
}