.fcbk, .twitter, .insta {
  color: white;
  height: 35px;
  width: 250px;
  font-size: 13px;
  font-weight: bold;
  
}
.fcbk {
  background-color: #8E91CC; 
}
.twitter {
  background-color: #6BCDF4;
}
.insta {
  background-color: #7595BD;
}

.social {
  padding-left: 2px;
  padding-right: 3px;
  transform: translateY(3px);
}
span {
  color: white;
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}
ul {
  padding-bottom: 50px;
  li {
    margin-top: 2px;
  }
}